
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Bahan</h1>
      <a href="" class="btn btn-success btn-user btn-block col-1 ml-auto">Add</a>
  <table id="dataTable" class="table table-borderless fa-fw col-lg-12">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% result.forEach((data,i) => { %>  
      <tr>
        <th scope="row"><%= i+1 %><t+1>
        <td><%= data.name%></td>
        <td></td>
      </tr>
      <%}) %>
    </tbody>
  </table>
</div>
<!-- /.container-fluid -->
